@import '~bootstrap/scss/bootstrap.scss'

@font-face
  font-family: 'RF Dewi Extended'
  src: url('./fonts/RFDewiExtended-Black.ttf') format('truetype')
  font-weight: 900
@font-face
  font-family: 'RF Dewi Expanded'
  src: url('./fonts/RFDewiExtended-Bold.ttf') format('truetype')
  font-weight: 700
@font-face
  font-family: 'RF Dewi Expanded'
  src: url('./fonts/RFDewiExtended-BoldItalic.ttf') format('truetype')
  font-weight: 700
  font-style: italic

  
.desktop-only
  @include media-breakpoint-down(lg)
    display: none !important
.mobile-only
  @include media-breakpoint-up(xl)
    display: none !important

.noselect
  -webkit-touch-callout: none  /* iOS Safari */
  -webkit-user-select: none    /* Safari */
  -khtml-user-select: none     /* Konqueror HTML */
  -moz-user-select: none       /* Firefox */
  -ms-user-select: none        /* Internet Explorer/Edge */
  user-select: none            /* Non-prefixed version, currently supported by Chrome and Opera */

.abs-cover
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.def-img
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.inherit-all
  font-family: inherit
  font-weight: inherit
  font-size: inherit
  color: inherit


// COLORS
$dark: black
$light: white
$grey: #212121
$main: #FFEFB7
$red: #BC5151

$menu-transition: .2s
$border: 1px solid $dark

@function rem($px)
  @return calc(#{$px} / 16 * 1rem)


.button
  padding: 0
  cursor: pointer
  outline: none
  border: none
  background-color: rgba(0, 0, 0, 0)
  &--main
    background-color: $grey
    box-shadow: 2px 2px 0px $light
    padding: rem(5) rem(12) rem(8)
    border-radius: rem(6)
    font-size: rem(18)
    transition: box-shadow $menu-transition
    &:hover
      box-shadow: 1px 1px 0px $light
    &:active
      box-shadow: 0px 0px 0px $light
      
.Link
  @extend .inherit-all
  text-transform: lowercase
  &:hover
    @extend .inherit-all



.FormattedMessage
  display: inline
  @extend .inherit-all



*
  font-family: 'RF Dewi Extended', sans-serif
  color: $dark
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased



.grain
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  pointer-events: none
  z-index: 50
  &::after
    pointer-events: none
    content: ''
    background-image: url(https://sun9-21.userapi.com/c855236/v855236973/21ef90/A4K_iEg4g6Q.jpg)
    height: 300%
    width: 300%
    opacity: 0.1
    position: absolute
    top: -50%
    left: -50%
    animation: grain 8s steps(4) infinite
    @keyframes grain
      0%, 100%
        transform: translate(0, 0)
      10%
        transform: translate(-.5%, -1.0%)
      20%
        transform: translate(-1.5%, .5%)
      30%
        transform: translate(.7%, -2.5%)
      40%
        transform: translate(-.5%, 2.5%)
      50%
        transform: translate(-1.5%, 2.0%)
      60%
        transform: translate(1.5%, 0%)
      70%
        transform: translate(0%, 1.5%)
      80%
        transform: translate(3%, 3.5%)
      90%
        transform: translate(-1.0%, 1.0%)



.App
  overflow: hidden
  width: 100%
  height: 100%




.Header
  position: fixed
  z-index: 100
  top: 0
  left: 0
  width: 0
  height: 0
  overflow: visible
  &__buttons
    position: absolute
    z-index: 120
    top: 0
    left: 0
    padding: rem(45)
    @extend .d-flex
    @extend .flex-row
    @extend .align-items-center
    &__links,
    &__open
      @extend .button
    &__links
      width: rem(21)
      padding-top: 71.43%
      @extend .def-img
      background-image: url(./img/symbol.svg)
      margin-right: rem(16)
    &__open
      border: rem(3) solid $light
      border-radius: rem(100)
      width: rem(32)
      height: rem(16)
      position: relative
      &::after
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: rem(6)
        height: rem(6)
        background-color: $light
        border-radius: 20px
        left: rem(2)
        transition: left $menu-transition
        .Header--opened &
          left: rem(18)
  &__links
    position: absolute
    z-index: 130
    top: rem(90)
    left: rem(45)
    background-color: $grey
    box-shadow: 5px 5px 0px #C27690
    padding: rem(32) rem(38)
    border-radius: rem(10)
    @include media-breakpoint-down(sm)
      max-width: 90vw
      padding: rem(16) rem(16)
      left: 5%
    &__item.Link
      display: block
      color: $light
      font-weight: 700
      font-size: rem(13)
      line-height: 3
      white-space: nowrap
  &__content
    position: absolute
    z-index: 110
    top: 0
    left: 0
    width: 0
    height: 0
    overflow: hidden
    transition: width $menu-transition, height $menu-transition
    .Header--opened &
      width: 100vw
      height: 100vh
    &__long-desc
      width: calc(780 / 1440 * 100%)
      margin-left: calc(538 / 1440 * 100%)
      margin-top: rem(120)
      margin-bottom: rem(139)
      font-size: rem(36)
      @include media-breakpoint-down(md)
        padding-top: rem(197)
        margin-bottom: rem(320)
        font-size: rem(30)
      @include media-breakpoint-down(xs)
        top: rem(100)
        font-size: rem(15)
    &__routes
      width: calc(848 / 1440 * 100%)
      margin-left: rem(100)
      margin-bottom: rem(12)
      @include media-breakpoint-down(md)
        width: calc(487 / 834 * 100%)
        left: rem(85 / 834 * 100%)
      &__item.Link
        display: inline
        margin-right: rem(30)
        line-height: 3
        font-size: rem(20)
        *
          text-decoration: none
        @include media-breakpoint-down(xl)
          line-height: 2.5
          font-size: rem(16)
        @include media-breakpoint-down(xs)
          font-size: rem(12)


  
  
  
.Home
  width: 100vw
  height: 100vh
  @extend .d-flex
  @extend .flex-column
  @extend .flex-xl-row
  padding: rem(17) rem(20)
  @include media-breakpoint-down(md)
    padding: rem(17) rem(17)
  @include media-breakpoint-down(sm)
    padding: rem(9) rem(7)
  background-color: $grey
  transition: background-color $menu-transition
  *
    font-weight: 900
  &--opened
    background-color: $dark
  &__red
    @extend .order-2
    @extend .order-xl-1
    background-color: $red
    position: relative
    border-radius: rem(15)
    overflow: hidden
    @extend .flex-grow-1
    @include media-breakpoint-down(sm)
      border-radius: rem(30)
    @include media-breakpoint-down(xs)
      border-radius: rem(15)
    &__button
      @extend .button
      @extend .button--main
      position: absolute
      top: rem(30)
      right: rem(30)
    &__guy,
    &__hi,
    &__desc
      position: absolute
      left: 50%
    &__guy,
    &__hi
      @extend .def-img
    &__guy
      width: 30vw
      bottom: 35%
      background-image: url(./img/guy.svg)
      padding-top: 168%
      @include media-breakpoint-down(lg)
        background-image: url(./img/guy-mobile.svg)
        width: 40vw
        padding-top: 213.1%
      @include media-breakpoint-down(md)
        bottom: 50%
    &__hi
      bottom: 35%
      width: 60vw
      background-image: url(./img/hi.svg)
      padding-top: 33.95%
      @include media-breakpoint-down(lg)
        background-image: url(./img/hi-tablet.svg)
        width: 60vw
        padding-top: 33%
      @include media-breakpoint-down(md)
        background-image: url(./img/hi-mobile.svg)
        padding-top: 31.6%
        bottom: 45%
    &__desc
      bottom: 15%
  &__long-long-desc
    overflow: hidden
    @extend .order-1
    @extend .order-xl-2
    @include media-breakpoint-up(lg)
      transition: width $menu-transition
      width: 0
      height: 100%
    @include media-breakpoint-down(lg)
      transition: height $menu-transition
      width: 100%
      height: 0
    .Home--opened &
      @include media-breakpoint-up(xl)
        width: 25vw
      @include media-breakpoint-down(lg)
        height: 30vh
      @include media-breakpoint-down(md)
        height: 35vh
    &__container
      color: $light
      @include media-breakpoint-up(xl)
        font-size: rem(15)
        padding: 35% rem(40)
        width: 25vw
      @include media-breakpoint-down(lg)
        font-size: rem(15)
        padding: rem(90) rem(60)
        height: 30vh
      @include media-breakpoint-down(md)
        font-size: rem(12)
        padding: rem(80) rem(40) rem(45)
        height: 35vh
      @include media-breakpoint-down(sm)
        font-size: rem(10)
        padding: rem(80) rem(23) rem(33)



  


.Frame
  width: 100vw
  height: 100vh
  background-color: $light
  @extend .d-flex
  @extend .flex-column
  padding: rem(17) rem(20)
  @include media-breakpoint-down(md)
    padding: rem(17) rem(17)
  @include media-breakpoint-down(sm)
    padding: rem(9) rem(7)
  &__content
    *
      color: $light
    @extend .flex-grow-1
    position: relative
    width: 100%
    overflow-y: scroll
    background-color: $dark
    border-radius: rem(15)
  &__navigation
    width: 100%
    height: rem(82)
    font-size: rem(48)
    @include media-breakpoint-down(lg)
      height: rem(76)
      font-size: rem(40)
    @include media-breakpoint-down(xs)
      height: rem(43)
      font-size: rem(18)
    @extend .d-flex
    @extend .flex-row
    @extend .align-items-center
    &__arrow,
    &__Img.Img
      transform: translateY(-5%)
      width: rem(48)
      @include media-breakpoint-down(lg)
        width: rem(40)
      @include media-breakpoint-down(xs)
        width: rem(18)
    &__arrow
      transform: translateY(25%) scale(1.5)
      @extend .def-img
      margin-left: rem(18)
      margin-right: rem(18)
      background-image: url(./img/arrow.svg)
      padding-top: calc(#{rem(48)} * .33)
      @include media-breakpoint-down(lg)
        padding-top: calc(#{rem(40)} * .33)
      @include media-breakpoint-down(xs)
        padding-top: calc(#{rem(18)} * .33)
    .FormattedMessage
      text-transform: lowercase






.Img
  width: 100%
  transition: opacity $menu-transition
  &--hidden
    opacity: 0
  &__img
    width: 100%